<template name="ayuda">

    <!-- Page heading -->
    {{> pageHeading title='Ayuda' category='Soporte' }}

    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="ibox-content m-b-sm border-bottom">
            <div class="text-center p-lg">
                <h2>Si usted no encuentra su pregunta</h2>
                <span>agregue su pregunta seleccionando el botón</span>
                <button title="Crear un tema" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> <span class="bold">Agregar pregunta</span></button>
            </div>
        </div>
        <div class="faq-item">
            <div class="row">
                <div class="col-md-7">
                    <a data-toggle="collapse" href="#faq1" class="faq-question">¿Cómo se puede restaurar una lista que borré accidentalmente?</a>
                    <small>Agregada por <strong>César Garcés</strong> <i class="fa fa-clock-o"></i> Ayer 2:40 pm - 24.06.2014</small>
                </div>
                <div class="col-md-3">
                    <span class="small font-bold">Alejandro Angel</span>
                    <div class="tag-list">
                        <span class="tag-item">Listas</span>
                        <span class="tag-item">Llamadas</span>
                    </div>
                </div>
                <div class="col-md-2 text-right">
                    <span class="small font-bold">Es útil </span><br/>
                    42
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="faq1" class="panel-collapse collapse ">
                        <div class="faq-answer">
                            <p>
                                Los ítems que son borrados de la aplicación tienen un tiempo de vida en el sistema de sólo tres días.
                                Se deberá iniciar un reporte del problema desde la página de configuraciones de su cuenta,
                                pero solo se restaurarán listas que se reporten el mismo día que fueron borradas. Para evitar
                                este tipo de problemas es que hemos puesto varias verificaciones de modo que este tipo de acción
                                no se ejecute accidentalmente.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="faq-item">
            <div class="row">
                <div class="col-md-7">
                    <a data-toggle="collapse" href="#faq2" class="faq-question">¿Se puede restaurar un envío que borré por error?</a>
                    <small>Agregada por <strong>Laura Moná</strong> <i class="fa fa-clock-o"></i> Hoy 10:40 am - 24.06.2014</small>
                </div>
                <div class="col-md-3">
                    <span class="small font-bold">Alejandro Angel</span>
                    <div class="tag-list">
                        <span class="tag-item">SMS</span>
                        <span class="tag-item">Envíos</span>
                    </div>
                </div>
                <div class="col-md-2 text-right">
                    <span class="small font-bold">Es útil </span><br/>
                    14
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="faq2" class="panel-collapse collapse ">
                        <div class="faq-answer">
                            <p>
                                Los ítems que son borrados de la aplicación tienen un tiempo de vida en el sistema de sólo tres días.
                                Se deberá iniciar un reporte del problema desde la página de configuraciones de su cuenta,
                                pero solo se restaurarán listas que se reporten el mismo día que fueron borradas. Para evitar
                                este tipo de problemas es que hemos puesto varias verificaciones de modo que este tipo de acción
                                no se ejecute accidentalmente.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="faq-item">
            <div class="row">
                <div class="col-md-7">
                    <a data-toggle="collapse" href="#faq3" class="faq-question">¿Cómo puedo acceder a las estadísticas del mes pasado?</a>
                    <small>Agregada por <strong>César Garcés</strong> <i class="fa fa-clock-o"></i> Martes 6:40 pm - 24.06.2014</small>
                </div>
                <div class="col-md-3">
                    <span class="small font-bold">Alejandro Angel</span>
                    <div class="tag-list">
                        <span class="tag-item">Estadísticas</span>
                        <span class="tag-item">Reportes</span>
                    </div>
                </div>
                <div class="col-md-2 text-right">
                    <span class="small font-bold">Es útil </span><br/>
                    27
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="faq3" class="panel-collapse collapse ">
                        <div class="faq-answer">
                            <p>
                                Los ítems que son borrados de la aplicación tienen un tiempo de vida en el sistema de sólo tres días.
                                Se deberá iniciar un reporte del problema desde la página de configuraciones de su cuenta,
                                pero solo se restaurarán listas que se reporten el mismo día que fueron borradas. Para evitar
                                este tipo de problemas es que hemos puesto varias verificaciones de modo que este tipo de acción
                                no se ejecute accidentalmente.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="faq-item">
            <div class="row">
                <div class="col-md-7">
                    <a data-toggle="collapse" href="#faq4" class="faq-question">¿Es posible recuperar un reporte que borré accidentalmente?</a>
                    <small>Agregada por <strong>David Lotero</strong> <i class="fa fa-clock-o"></i> Miércoles 2:40 pm - 24.06.2014</small>
                </div>
                <div class="col-md-3">
                    <span class="small font-bold">Alejandro Angel</span>
                    <div class="tag-list">
                        <span class="tag-item">Reportes</span>
                        <span class="tag-item">Estadísticas</span>
                    </div>
                </div>
                <div class="col-md-2 text-right">
                    <span class="small font-bold">Es útil </span><br/>
                    21
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="faq4" class="panel-collapse collapse ">
                        <div class="faq-answer">
                            <p>
                                Los ítems que son borrados de la aplicación tienen un tiempo de vida en el sistema de sólo tres días.
                                Se deberá iniciar un reporte del problema desde la página de configuraciones de su cuenta,
                                pero solo se restaurarán listas que se reporten el mismo día que fueron borradas. Para evitar
                                este tipo de problemas es que hemos puesto varias verificaciones de modo que este tipo de acción
                                no se ejecute accidentalmente.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="faq-item">
            <div class="row">
                <div class="col-md-7">
                    <a data-toggle="collapse" href="#faq5" class="faq-question">¿Como hacer el envío de mensajes a la misma lista que borré?</a>
                    <small>Agregada por <strong>César Garcés</strong> <i class="fa fa-clock-o"></i> Hace una semana 2:40 pm - 24.06.2014</small>
                </div>
                <div class="col-md-3">
                    <span class="small font-bold">David Lotero</span>
                    <div class="tag-list">
                        <span class="tag-item">SMS</span>
                        <span class="tag-item">Envíos</span>
                    </div>
                </div>
                <div class="col-md-2 text-right">
                    <span class="small font-bold">Es útil </span><br/>
                    42
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="faq5" class="panel-collapse collapse ">
                        <div class="faq-answer">
                            <p>
                                Los ítems que son borrados de la aplicación tienen un tiempo de vida en el sistema de sólo tres días.
                                Se deberá iniciar un reporte del problema desde la página de configuraciones de su cuenta,
                                pero solo se restaurarán listas que se reporten el mismo día que fueron borradas. Para evitar
                                este tipo de problemas es que hemos puesto varias verificaciones de modo que este tipo de acción
                                no se ejecute accidentalmente.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="faq-item">
            <div class="row">
                <div class="col-md-7">
                    <a data-toggle="collapse" href="#faq6" class="faq-question">¿Cómo se puede restaurar una lista que borré accidentalmente?</a>
                    <small>Agregada por <strong>César Garcés</strong> <i class="fa fa-clock-o"></i> Ayer 2:40 pm - 24.06.2014</small>
                </div>
                <div class="col-md-3">
                    <span class="small font-bold">Alejandro Angel</span>
                    <div class="tag-list">
                        <span class="tag-item">Listas</span>
                        <span class="tag-item">Llamadas</span>
                    </div>
                </div>
                <div class="col-md-2 text-right">
                    <span class="small font-bold">Es útil </span><br/>
                    42
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="faq6" class="panel-collapse collapse ">
                        <div class="faq-answer">
                            <p>
                                Los ítems que son borrados de la aplicación tienen un tiempo de vida en el sistema de sólo tres días.
                                Se deberá iniciar un reporte del problema desde la página de configuraciones de su cuenta,
                                pero solo se restaurarán listas que se reporten el mismo día que fueron borradas. Para evitar
                                este tipo de problemas es que hemos puesto varias verificaciones de modo que este tipo de acción
                                no se ejecute accidentalmente.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="faq-item">
            <div class="row">
                <div class="col-md-7">
                    <a data-toggle="collapse" href="#faq7" class="faq-question">¿Se puede restaurar un envío que borré por error?</a>
                    <small>Agregada por <strong>Laura Moná</strong> <i class="fa fa-clock-o"></i> Hoy 10:40 am - 24.06.2014</small>
                </div>
                <div class="col-md-3">
                    <span class="small font-bold">Alejandro Angel</span>
                    <div class="tag-list">
                        <span class="tag-item">SMS</span>
                        <span class="tag-item">Envíos</span>
                    </div>
                </div>
                <div class="col-md-2 text-right">
                    <span class="small font-bold">Es útil </span><br/>
                    14
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="faq7" class="panel-collapse collapse ">
                        <div class="faq-answer">
                            <p>
                                Los ítems que son borrados de la aplicación tienen un tiempo de vida en el sistema de sólo tres días.
                                Se deberá iniciar un reporte del problema desde la página de configuraciones de su cuenta,
                                pero solo se restaurarán listas que se reporten el mismo día que fueron borradas. Para evitar
                                este tipo de problemas es que hemos puesto varias verificaciones de modo que este tipo de acción
                                no se ejecute accidentalmente.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="faq-item">
            <div class="row">
                <div class="col-md-7">
                    <a data-toggle="collapse" href="#faq8" class="faq-question">¿Cómo puedo acceder a las estadísticas del mes pasado?</a>
                    <small>Agregada por <strong>César Garcés</strong> <i class="fa fa-clock-o"></i> Martes 6:40 pm - 24.06.2014</small>
                </div>
                <div class="col-md-3">
                    <span class="small font-bold">Alejandro Angel</span>
                    <div class="tag-list">
                        <span class="tag-item">Estadísticas</span>
                        <span class="tag-item">Reportes</span>
                    </div>
                </div>
                <div class="col-md-2 text-right">
                    <span class="small font-bold">Es útil </span><br/>
                    27
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="faq8" class="panel-collapse collapse ">
                        <div class="faq-answer">
                            <p>
                                Los ítems que son borrados de la aplicación tienen un tiempo de vida en el sistema de sólo tres días.
                                Se deberá iniciar un reporte del problema desde la página de configuraciones de su cuenta,
                                pero solo se restaurarán listas que se reporten el mismo día que fueron borradas. Para evitar
                                este tipo de problemas es que hemos puesto varias verificaciones de modo que este tipo de acción
                                no se ejecute accidentalmente.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="faq-item">
            <div class="row">
                <div class="col-md-7">
                    <a data-toggle="collapse" href="#faq9" class="faq-question">¿Es posible recuperar un reporte que borré accidentalmente?</a>
                    <small>Agregada por <strong>David Lotero</strong> <i class="fa fa-clock-o"></i> Miércoles 2:40 pm - 24.06.2014</small>
                </div>
                <div class="col-md-3">
                    <span class="small font-bold">Alejandro Angel</span>
                    <div class="tag-list">
                        <span class="tag-item">Reportes</span>
                        <span class="tag-item">Estadísticas</span>
                    </div>
                </div>
                <div class="col-md-2 text-right">
                    <span class="small font-bold">Es útil </span><br/>
                    21
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="faq9" class="panel-collapse collapse ">
                        <div class="faq-answer">
                            <p>
                                Los ítems que son borrados de la aplicación tienen un tiempo de vida en el sistema de sólo tres días.
                                Se deberá iniciar un reporte del problema desde la página de configuraciones de su cuenta,
                                pero solo se restaurarán listas que se reporten el mismo día que fueron borradas. Para evitar
                                este tipo de problemas es que hemos puesto varias verificaciones de modo que este tipo de acción
                                no se ejecute accidentalmente.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="faq-item">
            <div class="row">
                <div class="col-md-7">
                    <a data-toggle="collapse" href="#faq10" class="faq-question">¿Como hacer el envío de mensajes a la misma lista que borré?</a>
                    <small>Agregada por <strong>César Garcés</strong> <i class="fa fa-clock-o"></i> Hace una semana 2:40 pm - 24.06.2014</small>
                </div>
                <div class="col-md-3">
                    <span class="small font-bold">David Lotero</span>
                    <div class="tag-list">
                        <span class="tag-item">SMS</span>
                        <span class="tag-item">Envíos</span>
                    </div>
                </div>
                <div class="col-md-2 text-right">
                    <span class="small font-bold">Es útil </span><br/>
                    42
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="faq10" class="panel-collapse collapse ">
                        <div class="faq-answer">
                            <p>
                                Los ítems que son borrados de la aplicación tienen un tiempo de vida en el sistema de sólo tres días.
                                Se deberá iniciar un reporte del problema desde la página de configuraciones de su cuenta,
                                pero solo se restaurarán listas que se reporten el mismo día que fueron borradas. Para evitar
                                este tipo de problemas es que hemos puesto varias verificaciones de modo que este tipo de acción
                                no se ejecute accidentalmente.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>
