<template name="documentos">

    <!-- Page heading -->
    {{> pageHeading title='Documentos' category='Sobre Mecano' }}

    <div class="wrapper wrapper-content animated fadeInRigh ">
        <div class="row">
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="file-manager">
                            <h5>Filtrar:</h5>
                            <a href="#" class="file-control active">Ale</a>
                            <a href="#" class="file-control">Documents</a>
                            <a href="#" class="file-control">Audio</a>
                            <a href="#" class="file-control">Images</a>
                            <div class="hr-line-dashed"></div>

                            <h5>Categorías</h5>
                            <ul class="folder-list" style="padding: 0">
                                <li><a href=""><i class="fa fa-folder"></i> Formularios</a></li>
                                <li><a href=""><i class="fa fa-folder"></i> Reportes</a></li>
                                <li><a href=""><i class="fa fa-folder"></i>Certificaciones</a></li>
                                <li><a href=""><i class="fa fa-folder"></i>Manuales</a></li>
                                <li><a href=""><i class="fa fa-folder"></i> Catálogos</a></li>
                                <li><a href=""><i class="fa fa-folder"></i> Otros</a></li>
                            </ul>
                            <h5 class="tag-title">Tags</h5>
                            <ul class="tag-list" style="padding: 0">
                                <li><a href="">Bandejas</a></li>
                                <li><a href="">Canaletas</a></li>
                                <li><a href="">Consolas</a></li>
                                <li><a href="">Empotrables</a></li>
                                <li><a href="">Techo</a></li>
                                <li><a href="">Suelo</a></li>
                                <li><a href="">Pared</a></li>
                                <li><a href="">Otros</a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="file-box">
                            <div class="file">
                                <a href="#">
                                    <span class="corner"></span>

                                    <div class="icon">
                                        <i class="fa fa-file"></i>
                                    </div>
                                    <div class="file-name">
                                        Documento_2014.doc
                                        <br/>
                                        <small>Added: Ago 11, 2017</small>
                                    </div>
                                </a>
                            </div>

                        </div>
                        <div class="file-box">
                            <div class="file">
                                <a href="#">
                                    <span class="corner"></span>

                                    <div class="image">
                                        <img alt="image" class="img-responsive" src="img/p3.jpg">
                                    </div>
                                    <div class="file-name">
                                        Documento_2017.doc
                                        <br/>
                                        <small>Added: Sep 11, 2017</small>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="file-box">
                            <a href="#">
                                <div class="file">
                                    <span class="corner"></span>

                                    <div class="icon">
                                        <i class="fa fa-bar-chart-o"></i>
                                    </div>
                                    <div class="file-name">
                                        reporte Bimensual 3 2017.xls
                                        <br/>
                                        <small>Added: May 22, 2017</small>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="file-box">
                            <div class="file">
                                <a href="#">
                                    <span class="corner"></span>

                                    <div class="icon">
                                        <i class="fa fa-file"></i>
                                    </div>
                                    <div class="file-name">
                                        Documento_2016.doc
                                        <br/>
                                        <small>Added: Feb 15, 2017</small>
                                    </div>
                                </a>
                            </div>

                        </div>
                        <div class="file-box">
                            <div class="file">
                                <a href="#">
                                    <span class="corner"></span>

                                    <div class="icon">
                                        <i class="fa fa-music"></i>
                                    </div>
                                    <div class="file-name">
                                        Difusión Audio .mp3
                                        <br/>
                                        <small>Added: Feb 27, 2017</small>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="file-box">
                            <div class="file">
                                <a href="#">
                                    <span class="corner"></span>

                                    <div class="icon">
                                        <i class="img-responsive fa fa-film"></i>
                                    </div>
                                    <div class="file-name">
                                        Video Institucional.mpg4
                                        <br/>
                                        <small>Added: Feb 16, 2017</small>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="file-box">
                            <a href="#">
                                <div class="file">
                                    <span class="corner"></span>

                                    <div class="icon">
                                        <i class="fa fa-bar-chart-o"></i>
                                    </div>
                                    <div class="file-name">
                                        Reporte Bimensual 2 2017.xls
                                        <br/>
                                        <small>Added: Abr 22, 2017</small>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="file-box">
                            <div class="file">
                                <a href="#">
                                    <span class="corner"></span>

                                    <div class="icon">
                                        <i class="fa fa-file"></i>
                                    </div>
                                    <div class="file-name">
                                        Documento_2015.doc
                                        <br/>
                                        <small>Added: Dic 23, 2016</small>
                                    </div>
                                </a>
                            </div>

                        </div>
                        <div class="file-box">
                            <div class="file">
                                <a href="#">
                                    <span class="corner"></span>

                                    <div class="icon">
                                        <i class="fa fa-music"></i>
                                    </div>
                                    <div class="file-name">
                                        Cuña Publicitaria.mp3
                                        <br/>
                                        <small>Added: Jan 22, 2014</small>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="file-box">
                            <div class="file">
                                <a href="#">
                                    <span class="corner"></span>

                                    <div class="icon">
                                        <i class="img-responsive fa fa-film"></i>
                                    </div>
                                    <div class="file-name">
                                        Video Aniversario 15 años.mpg4
                                        <br/>
                                        <small>Added: Feb 18, 2016</small>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="file-box">
                            <a href="#">
                                <div class="file">
                                    <span class="corner"></span>

                                    <div class="icon">
                                        <i class="fa fa-bar-chart-o"></i>
                                    </div>
                                    <div class="file-name">
                                        Reporte Bimensual 1 2017.xls
                                        <br/>
                                        <small>Added: Feb 22, 2017</small>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
