<template name="videos">

    <!-- Page heading -->
    {{> pageHeading title='Videos' category='Sobre Mecano'  }}

    <div class="wrapper wrapper-content animated fadeInRightBig ">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content text-center">

                        <h2>
                            <i class="fa fa-video"> </i> Este video es una presentación institucional de mecano .
                        </h2>
                        <small>Puede tambien visitar <code>el canal oficial</code> de mecano para conocer mejores oportunidades.. </small>


                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Presentación Mecano</h5>
                        {{>iboxTools}}
                    </div>
                    <div class="ibox-content">
                        <figure>
                          <iframe width="430" height="315" src="https://www.youtube.com/embed/AQwt23P0w3Y" frameborder="0" allowfullscreen></iframe>
                        </figure>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Descripción del Video</h5>
                        {{>iboxTools}}
                    </div>
                    <div class="ibox-content profile-content">
                        <h4><strong>Presentación Mecano by Gonvarri MS Colombia</strong></h4>
                        <p><i class="fa fa-clock-o"></i> Publicado el 3 ago. 2017</p>
                        <h5>
                          Electrored Bolivia SRL

                        </h5>
                        <p>
                            Presentación de la empresa Mecano para #ElectroredBolivia con más de 25 años en el mercado.
                             </p>
                        <div class="row m-t-md">
                            <div class="col-md-3">
                                <h5><strong>4</strong> Likes</h5>
                            </div>
                            <div class="col-md-9">
                                <h5><strong>0</strong> Comments</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>
